In [1]:
a=100

In [52]:
print(message)

I like to eat   15   quail

In [13]:
improt (zen of python)

SyntaxError: invalid syntax (<ipython-input-13-ac50868ccb2a>, line 1)

In [16]:
School = ["smart", "educators", "shafia", "allied", "savy"]

In [24]:
print(School[4].upper())

SAVY

# Class

In [80]:
class Dog():
    tail= 'Tehri'
    #Characteristics/Attributes/Properties>>>>>>>>>>>variables
    def __init__(self, name, age, breed, color):
        self.name = name
        self.age = age
        self.breed = breed
        self.color = color
        print("Dog create hogaya hai")
    #Behaviour/Action>>>>>> methods/functions.
    def bark(self):
        print(f"{self.name} is barking")
        
    #def walk():
        pass
    #def rollover():
        pass
    #def bite():
        pass

In [81]:
dog1 = Dog('Tommy', 4, 'German', 'black')

Dog create hogaya hai

In [87]:
dog1.breed
dog1.bark()
dog1.tail

Tommy is barking

'Tehri'

In [44]:
dog1.age

4

In [45]:
dog1.color

'black'

In [46]:
dog2 = Dog("Rainbow", 1 , "Gali ka kutta", "white")

Dog create hogaya hai

In [47]:
dog2.name

'Rainbow'

In [48]:
dog2.age

1

In [49]:
dog2.color

'white'

In [50]:
dog2.breed

'Gali ka kutta'

In [70]:
class Human():
    def __init__(obj, name, age, education, karigar):
        obj.name = name
        obj.age = age
        obj.education = education
        obj.karigar = karigar
    print("insan ban gaya hai")

insan ban gaya hai

In [71]:
human1 = Human("Rehan", 12, "B.Sc", "plumber")

In [72]:
human1.name

'Rehan'

In [73]:
human2 = Human("Rehan", 54, "M.Sc", "Trainer")

In [74]:
human2.age

54

In [75]:
human2.karigar

'Trainer'

In [76]:
human1.age

12

In [98]:
class Student():
    def __init__ (self, name, age, Class, Section):
        self.name = name
        self.age = age
        self.Class = Class
        self.Section = Section
    print("Class tyar hai")
    def intelligent(self):
        print(f"{self.name} is intelligent boy")
    def punctuation(self):
        print(f"{self.name} is punctual")

Class tyar hai

In [100]:
student1 = Student("Edward", 33, "Physics", "D")

In [103]:
student1.name
student1.intelligent()

Edward is intelligent boy

In [23]:
class Employee():
    def __init__ (self, name, age, Duty, Experties):
        self.name = name
        self.age = age
        self.Duty = Duty
        self.Experties = Experties
        print("Banda tyar hai")
    def intelligent(self):
        print(f"{self.name} is intelligent boy")
    def punctuation(self):
        print(f"{self.name} is punctual")

In [24]:
Emp1=Employee("Junaid", 34, "Accountant", "Doctor")

Banda tyar hai

In [25]:
print(Emp1.name)
print(Emp1.age)
print(Emp1.Duty)
Emp1.intelligent()

Junaid
34
Accountant
Junaid is intelligent boy

# Emp1.Duty

In [32]:
class Employee():
    def __init__ (self, name, age, Duty, Experties):
        self.name = name
        self.age = age
        self.Duty = Duty
        self.Experties = Experties
        print("Banda tyar hai")
    def set_salary(self,Amount):
        self.salary_reading = increament 
    def get_salary(self):
        print("This Employee has"+ str(self.salary_reading)+ "increament")
    def intelligent(self):
        print(f"{self.name} is intelligent boy")
    def punctuation(self):
        print(f"{self.name} is punctual")

In [ ]:
Emp1.

# 02/02/2021 Tuesday

# Changing an attributes Values
- Direct Hit
- Via function

In [49]:
class Car:
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year= year
        self.odometer_reading = 0
    def get_descriptive_name(self):
        long_name = str(self.year)+' '+self.make+' '+self.model
        return long_name.title()
    def set_odometer(self,mileage):
        self.odometer_reading = mileage
    def get_odometer(self):
        print("This car has"' '+ str(self.odometer_reading)+' '"mileage")

In [50]:
car1 = Car('honda', 'civic', 2001)
car2 = Car('mercedez', 'benz', 2022)
car3 = Car('BMW', "c200", 2009)

In [51]:
car1.get_descriptive_name()

'2001 Honda Civic'

In [52]:
car2.get_descriptive_name()

'2022 Mercedez Benz'

In [53]:
car3.get_descriptive_name()

'2009 Bmw C200'

In [54]:
car2.get_odometer()

This car has 0 mileage

In [55]:
car2.set_odometer(10000)

In [56]:
car2.get_odometer()

This car has 10000 mileage

# Inheritance:

In [58]:
class Car:
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year= year
        self.odometer_reading = 0
    def get_descriptive_name(self):
        long_name = str(self.year)+' '+self.make+' '+self.model
        return long_name.title()
    def set_odometer(self,mileage):
        self.odometer_reading = mileage
    def get_odometer(self):
        print("This car has"' '+ str(self.odometer_reading)+' '"mileage")
    def increment_odometer(self,miles):
        self.odometer_reading +=miles

In [77]:
class ElectricCar(Car):
    def __init__(self, make, model, year):
        super().__init__(make, model, year)
        self.battery_size =70
    def describe_battery(self):
        print("This car has"' '+str(self.battery_size)+' ' "kwh")

In [78]:
my_tesla = ElectricCar('tesla', 'model s', 2016)
print(my_tesla.get_descriptive_name())
my_tesla.battery_size(self)

2016 Tesla Model S

NameError: name 'self' is not defined

In [61]:
my_tesla.get_odometer()

This car has 0 mileage

In [66]:
my_tesla.increment_odometer(850)

In [63]:
my_tesla.get_odometer()

This car has 850 mileage

In [64]:
my_tesla.set_odometer(1000)

In [65]:
my_tesla.get_odometer()

This car has 1000 mileage

In [68]:
my_tesla.get_odometer()

This car has 1850 mileage

# Defining Attributes and Method for the Child Class

In [73]:
my_tesla.battery_size()

TypeError: 'int' object is not callable

# Overriding Method