# Dictionary comprehension

In [8]:
prices_in_Rs= {'biryani' :150,
            'tikka' :300,
            'fish' : 500,
            'coldrink' :100}

In [11]:
prices_in_dollars= {items: (price/160) for items,price in prices_in_Rs.items()}

In [12]:
prices_in_dollars

{'biryani': 0.9375, 'tikka': 1.875, 'fish': 3.125, 'coldrink': 0.625}

In [48]:
updated_prices= {item:price+price*.2 if price<1 else price for item,price in prices_in_dollars.items()}

In [49]:
updated_prices

{'biryani': 1.125, 'tikka': 1.875, 'fish': 3.125, 'coldrink': 0.75}

In [51]:
Rivers_country= {'nile':'egypt', 'Ravi':'Punjab', 'Chunab':"Lahore"}

In [53]:
Rivers_country

{'nile': 'egypt', 'Ravi': 'Punjab', 'Chunab': 'Lahore'}

In [57]:
print (f "The name of River in ("Rivers")" and name of country in ("place"))

SyntaxError: invalid syntax (<ipython-input-57-b1f2f1ead9d0>, line 1)

# A List of list:

In [58]:
listoflist=[[11,12,44,55],[226,668,669,44],[1,12,3],['a','b']]

In [59]:
listoflist[1]

[226, 668, 669, 44]

In [61]:
listoflist[-1]

['a', 'b']

In [62]:
listoflist[-3][-4]

226

In [63]:
listoflist[-4]

[11, 12, 44, 55]

# ListofDictionaries

In [64]:
listofDic = [prices_in_dollars,
            prices_in_Rs,
            updated_prices]

In [67]:
print (prices_in_dollars,
            prices_in_Rs,
            updated_prices)

{'biryani': 0.9375, 'tikka': 1.875, 'fish': 3.125, 'coldrink': 0.625} {'biryani': 150, 'tikka': 300, 'fish': 500, 'coldrink': 100} {'biryani': 1.125, 'tikka': 1.875, 'fish': 3.125, 'coldrink': 0.75}

In [69]:
listofDic[2]['tikka']

1.875

# DictionaryofDic

In [91]:
dicofdic={'saylani':
                  {'smit':['web','ds','ccna','ai'], 
                   'health':['opd', 'ot',]
                  },
           'University':
                  {'CS':['1st','2nd','3rd','4th'],
                  'admin':['fees', 'timetable','exams'] 
                   }
          }

In [92]:
'University' in dicofdic

True

In [93]:
for pk,pv in dicofdic.items():
    if pk=="University":
        for uk,uv in dicofdic[pk].items():
            if uk=='admin':
                print('exams' in uv)

True

In [101]:
for v in dicofdic['University']["admin"]:
    if v=="exams":
        print('Found')

Found